html{
    height: 100%;
}

body{
    font-family: "Open Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.footer{
    margin-top: auto;
}

.fa-compass{
    font-size: 2rem;
    color: #fe424d;
}

.nav-link{
    font-weight: 500 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

.f-info-links ,.f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.bdl-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.custom-row{
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0 ;
}

.card-img-overlay:hover{
    opacity: 0.2 ;
    background-color: white ;
}

.add-btn{
    background-color:  #fe424d !important;
    border: none !important;
    color: white !important;
}

.show-img{
    height: 30vh;
}

.btn a{
    text-decoration: none !important;
    color: white !important;
}

.btns{
    display: flex;
}

.alt-row{
    height: 64vh;
}

/* --- CARD STYLING --- */
.bdl-card {
  border: none !important;
  border-radius: 1.2rem;
  overflow: hidden;
  width: 22rem;               /* wider card width */
  background-color: #fff;
  margin-bottom: 0.1rem;
}


/* --- IMAGE INSIDE CARD --- */
.card-img-top {
  width: 100% !important;
  height: 15rem !important;   /* more height for wider look */
  object-fit: cover !important;
  border-radius: 1.2rem !important;
}

/* --- CARD BODY --- */
.card-body {
  padding: 1rem !important;
  background-color: white;
}

.card-text {
  color: #222;
  font-size: 1rem;
}

/* .alert{
    height: 60px !important;
} */

#map{
    height: 250px;

    border-radius: 1rem;
}
